nav{
    display: flex;
    margin: auto;
}
.inav {
    margin-left: 20px;
}

nav{

    padding: 25px;
    font-size: 15px;
    z-index: 1;
}

.inav a{
    text-decoration: none;
    color: white;
    
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #D7D7D7;
    padding: 0;
    margin: 0;
  }

