nav{
    display: flex;
    margin: auto;
}
.inav {
    margin-right: 50px;
    margin-top: 25px;
}

nav{
    align-items: right;
    justify-content: right;
    padding: 25px;
    font-size: 15px;
    z-index: 1;
    margin: auto;
}

.inav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #D7D7D7;
    padding: 0;
    margin: 0;
  }

.inav a:hover{
    color: #FFD700;
}

.inav .contact{
    background-color: white;
    color: black;
    padding: 8px 16px;
    border-radius: 30px;
}

.inav .contact:hover{
    background-color: #FFD700;
    color: black;
}

